/* 
  Tipz associated stylesheet 

  Author: Juanma Cabello
  Last modification date: 29/02/2010
  Version: 0.7
  
  All the general css rules will be here. 
  Specifics rules (like width of the rows which forms 
  the arrow or like the color and background color of the content) 
  are in the .js file itself.
  
  THIS STYLESHEET HAS CSS3 RULES!
  
*/

.tipz_canvas {
  margin:       2px;
  position:     absolute;
  font-family:  helvetica;
  font-size:    10px;
  font-weight:  bold;
  opacity:      0;
  z-index:      99999;
}

.tipz_arrow {
  text-align:   center;
  z-index:      100000;
}

.tipz_row {
  height:       1px;
  margin:       0 auto 0 auto;
}

.tipz_column {
  width:        1px;
  float:        left;
}

.tipz_content {
  padding:       5px;
  border-radius: 5px; 
}

/* Shadow section */

.tipz_row_shadow {
  height:             1px;
  margin:             0 auto 0 auto;
  -webkit-box-shadow: 0px 3px 5px #888;
  -moz-box-shadow:    0px 3px 5px #888;
}

.tipz_column_shadow {
  width:              1px;
  float:              left;
  -webkit-box-shadow: 0px 3px 5px #888;
  -moz-box-shadow:    0px 3px 5px #888;
}

.tipz_content_shadow {
  padding:            5px;
  border-radius:      5px; 
  -webkit-box-shadow: 0px 3px 5px #888;
  -moz-box-shadow:    0px 3px 5px #888;
  z-index:            99999;
}